<div class="c-navigation">
  <nav>
    <a href="#" class="btn-menu-trigger"><span>Menu</span></a>
    <h4><a href="/">danny.is</a></h4>
    <ul>
      <li><a href="/writing">Writing</a></li>
      <!-- <li><a href="/reading">Reading</a></li> -->
      <li><a href="/noting">Notes</a></li>
      <li><a href="/singing">Music</a></li>
      <!-- <li><a href="/coding">Code</a></li> -->
      <!-- <li><a href="/designing">Design</a></li> -->
      <!-- <li><a href="/drawing">Drawing</a></li> -->
      <!-- <li><a href="/snapping">Photography</a></li> -->
      <!-- <li><a href="/spending">Spending</a></li> -->
      <li class="social"><a href="http://twitter.com/dannysmith"><i class="u-icon u-icon-twitter u-icon-fw"></i></a></li>
      <li class="social"><a href="http://www.linkedin.com/in/dannyasmith"><i class="u-icon u-icon-linkedin u-icon-fw"></i></a></li>
      <li class="social"><a href="http://gitgub.com/dannysmith"><i class="u-icon u-icon-github u-icon-fw"></i></a></li>
    </ul>
  </nav>
</div>
