<section class="c-page-footer">
  <p class="copyright">&copy; <span class="u-smallnums">2010-<%= Date.today.year %></span> Danny Smith. All rights Reserved, unless stated.</p>
  <p class="links"><a href="mailto:hi@danny.is">Email me</a> | <a href="/styleguide">Styleguide</a> | <a href="http://twitter.com/dannysmith">Twitter</a> | <a href="https://keybase.io/dannysmith">keybase.io/dannysmith</a> </p>
</section>
