.gist,
code,
.highlight pre {
  font-family: $tfCode;
}

// Inline Code Tags
code.prettyprint,
code.pp {
  display: inline-block;
  padding: 0 8px;
  border: 1px solid transparentize($teal, .8);;
  border-radius: 2px;
  color: $grey;
  font-size: $tsSmall;
}

// Keyboard Tags
kbd {
  padding: 0.2em 0.6em;
  border: 1px solid $yellow;
  border-radius: 3px;
  background: $white;
  box-shadow: 0 .1em 0 rgba(0,0,0,0.2);
  font-size: $tsSmall;
}
