ul, ol, li {
  margin: 0;
}

li {
  margin-bottom: $tHLHrem;
}

ul.sublist {
  font-size: $tsSmall;

  li {margin-bottom: 0;}
}

ul.inline,
ol.inline {
  display: block;
  padding: 0;
  list-style: none;

  > li {
    float: left;
    padding-left: 1em;
  }
  > li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0 none;
  }

}
