table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: $tHLHrem;
  text-align: center;

  &.left {text-align: left}
}

th {
  height: $tLHrem * 2;
  border-bottom: 1px solid $black;
  background-color: $yellow;
}

tr:nth-child(even) {
  background-color: darken($white, 2%);
}
