// Disable Hover
.u-disable-hover {
  pointer-events: none;
}

// Hide everywhere
.u-hidden {
    display: none !important;
}

.u-smallnums {
    letter-spacing: .02em;
    font-weight: 500;
    font-size: .8em
}

// Pad all around by 1LH
.u-pad-1 {
  padding: $tLHrem;
}

// Pad all around by 0.5 LH
.u-pad-half {
  padding: $tLHrem / 2;
}

// Hide only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.u-visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

// Clearfixes
.u-clearfix:before,
.u-clearfix:after {
    display: table;
    content: " ";
}
.u-clearfix:after {
    clear: both;
}
.u-clearfix {
    *zoom: 1;
}
