.c-card.quote {

  .c-card__content {
    background: $yellow;
    color: $black;

    blockquote {
      font-style: italic;
      margin: 0;
      font-size: $ts3;

      footer {
        font-style: normal;
        font-size: $tsSmall;
        color: $grey;
        text-align: right;

        a:hover {text-decoration: underline} //Underline any links on hover.
      }
    }
  }
  &.short blockquote {
    font-size: $ts2;
  }
  &.medium blockquote {
    font-size: $ts3;
  }
  &.long blockquote {
    font-size: $tsLarge;
  }
}
