.c-card.link {
  .c-card__title {
    font-size: $tsLarge; //Smaller font size for Link titles, since they're often longer.
  }

  .c-card__image {
    background-color: $black;
    background-image: url(/images/link-icon.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: right top;
  }
}

